# Jira
JIRA_BASE_URL="https://jsw.vseinstrumenti.ru"
JIRA_USER=your_username
JIRA_PASSWORD=your_password

# Gitlab
GITLAB_BASE_URL="https://git.vseinstrumenti.net"
GITLAB_TOKEN=your_token

# Message templates
MESSAGE_TEAM="@fd-payments-team-dev"
MESSAGE_REVIEW="Посмотрите пожалуйста МР"
MESSAGE_DEPLOY="Планирую выкатку"
